services:
  keycloak:
    image: quay.io/keycloak/keycloak
    container_name: keycloak
    depends_on:
      - postgres-keycloak
    restart: unless-stopped
    command: >
      start
      --optimized
      --hostname-strict=false
      --https-key-store-file=/opt/keycloak/certs/keycloak.p12
      --https-key-store-password=${KEYCLOAK_TLS_PASSWORD}
    ports:
      - "8443:8443"
    env_file:
      - .env.development
    environment:
      KC_HTTPS_CERTIFICATE_FILE: /opt/keycloak/certs/tls.crt
      KC_HTTPS_CERTIFICATE_KEY_FILE: /opt/keycloak/certs/tls.key
    volumes:
      - ./certs:/opt/keycloak/certs:ro
  
  postgres-keycloak:
    image: postgres:18
    container_name: keycloak-postgres
    restart: unless-stopped
    env_file:
      - .env.development
    volumes:
      - keycloak-db:/var/lib/postgresql/data

volumes:
  keycloak-db: